
12 Week/week_7/__pycache__/text_normalizer.cpython-37.pyc
.vscode/settings.json
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
12 Week/week_4/.ipynb_checkpoints/week_4-checkpoint.ipynb
.spyproject/config/backups/workspace.ini.bak
*.ini
